<script type="text/javascript">
  $(function() {
    var curr_date = new Date();
    $("#to_datepicker").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
    $('#to_datepicker').val(curr_date.toLocaleDateString());
    $("#from_datepicker").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
    curr_date.setFullYear(curr_date.getFullYear()-10);
    $('#from_datepicker').val(curr_date.toLocaleDateString());
  });
  function transcriptChooseDeal()
  {
    crossPage = "transcript";
    crossPageLink = "transcripts";
    $("#transcript_table").css("display","none");
    $("#transcript_p_s_controls").css("display","block");
    $("#transcript_page_selection").html("<%= escape_javascript(render :partial => 'deals/index') %>");

    $("#transcript_submit").click(function() {
      var selRow = $("#deals_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#transcript_choose_deal").val($("#deals_list").getCell(selRow, "tag"));
        $("#transcript_deal_id").val(selRow);
        showTranscriptPage();
      }
    });
  }
  function showTranscriptPage()
  {
    $("#transcript_table").css("display","block");
    $("#transcript_p_s_controls").css("display","none");
    $("#transcript_page_selection").html("");
    $("#transcript_submit").unbind("click");
    crossPage = "";
  }
  function loadTranscript()
  {
    action = $.ajax({url: '/transcripts/load?deal_id=' +
                           $("#transcript_deal_id").val() +
                           '&start=' + $("#from_datepicker").val() +
                           '&stop=' + $("#to_datepicker").val(),
                     beforeSend: function() {
                       $.popup({note:"<%=t 'popup.wait'%>",sticked:true});
                     },
                     complete: function() {
                       $.popup({remove:true});
                       var actionUrl = '/transcripts/load?deal_id=' + $("#transcript_deal_id").val() +
                                                        '&start=' + $("#from_datepicker").val() +
                                                        '&stop=' + $("#to_datepicker").val() +
                                                        '&source=grid';
                       $('#transcripts_list').setGridParam({url: actionUrl});
                       $('#transcripts_list').clearGridData(true);
                       $('#transcripts_list').trigger('reloadGrid');
                     }
                    });
  }
  function chooseAccounting()
  {
    $('#transcripts_list').showCol('h_debit');
    $('#transcripts_list').showCol('h_credit');
    $('#transcripts_list').hideCol('debit');
    $('#transcripts_list').hideCol('credit');
    chooseUnit();
  }
  function choosePhysical()
  {
    $('#transcripts_list').showCol('debit');
    $('#transcripts_list').showCol('credit');
    $('#transcripts_list').hideCol('h_debit');
    $('#transcripts_list').hideCol('h_credit');
    chooseUnit();
  }
  function chooseUnit()
  {
    var fromDebit = $('#fromDebit').html();
    var fromCredit = $('#fromCredit').html();
    var turnoversDebit = $('#turnoversDebit').html();
    var turnoversCredit = $('#turnoversCredit').html();
    var exchangeDebit = $('#exchangeDebit').html();
    var exchangeCredit = $('#exchangeCredit').html();
    var toDebit = $('#toDebit').html();
    var toCredit = $('#toCredit').html();

    $('#fromDebit').html($('#hFromDebit').val());
    $('#fromCredit').html($('#hFromCredit').val());
    $('#turnoversDebit').html($('#hTurnoversDebit').val());
    $('#turnoversCredit').html($('#hTurnoversCredit').val());
    $('#exchangeDebit').html($('#hExchangeDebit').val());
    $('#exchangeCredit').html($('#hExchangeCredit').val());
    $('#toDebit').html($('#hToDebit').val());
    $('#toCredit').html($('#hToCredit').val());

    $('#hFromDebit').val(fromDebit);
    $('#hFromCredit').val(fromCredit);
    $('#hTurnoversDebit').val(turnoversDebit);
    $('#hTurnoversCredit').val(turnoversCredit);
    $('#hExchangeDebit').val(exchangeDebit);
    $('#hExchangeCredit').val(exchangeCredit);
    $('#hToDebit').val(toDebit);
    $('#hToCredit').val(toCredit);
  }
  function changeTranscript()
  {
    $('#beforeLoadData').css('display','block');
    $('#afterLoadData').css('display','none');
    $('#cancel').css('display','inline');
    $('#change').css('display','none');
  }
  function cancelTranscript()
  {
    $('#beforeLoadData').css('display','none');
    $('#afterLoadData').css('display','block');
    $('#cancel').css('display','none');
    $('#change').css('display','inline');
  }
</script>

<%= raw(transcripts_jqgrid) %>

<table id="transcript_table">
  <tr>
    <td colspan="2" align="right" style="width: 800px">
      <input type="button" id="cancel" value="<%=t 'transcript.btn_cancel'%>" disabled="true"
             onclick="cancelTranscript();"/>
      <input type="button" id="change" value="<%=t 'transcript.btn_change'%>" style="display: none"
             onclick="changeTranscript();"/>
      <input type="button" id="load" value="<%=t 'transcript.btn_load'%>" onclick="loadTranscript();"/>
    </td>
  </tr>
  <tr>
    <td id="loadData" colspan="2">
      <div id="beforeLoadData">
        <%=t 'transcript.deal'%>
        <input type="button" id="transcript_choose_deal" value="<%=t 'transcript.btn_choose'%>"
               onclick="transcriptChooseDeal();"/>
        <input type="hidden" id="transcript_deal_id" value=""/>
        <%=t 'transcript.from'%>
        <input type="text" id="from_datepicker"/>
        <%=t 'transcript.to'%>
        <input type="text" id="to_datepicker"/>
      </div>
      <div id="afterLoadData" style="display: none">
        <%=t 'transcript.deal'%>
        <a id="loadedDeal"> </a>
        <br>
          <%=t 'transcript.units'%>:
          <%=t 'transcript.physical'%>
          <input type="radio" id="physical" name="unit" checked="true"
                 onchange="choosePhysical();"/>
          <%=t 'transcript.accounting'%>
          <input type="radio" id="accounting" name="unit"
                 onchange="chooseAccounting();"/>
        </br>
      </div>
    </td>
  </tr>
  <tr>
    <td align="left">
      <a id="fromDate"></a>
    </td>
    <td align="right">
      <a id="fromDebit"></a>
      <input type="hidden" id="hFromDebit" value=""/>
      <a id="fromCredit"></a>
      <input type="hidden" id="hFromCredit" value=""/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="transcripts_list"></table>
      <div id="transcripts_pager"></div>
    </td>
  </tr>
  <tr>
    <td align="left">
      <%=t 'transcript.total'%>
    </td>
    <td align="right">
      <a id="turnoversDebit"></a>
      <input type="hidden" id="hTurnoversDebit" value=""/>
      <a id="turnoversCredit"></a>
      <input type="hidden" id="hTurnoversCredit" value=""/>
    </td>
  </tr>
  <tr>
    <td align="left">
      <%=t 'transcript.exchange'%>
    </td>
    <td align="right">
      <a id="exchangeDebit"></a>
      <input type="hidden" id="hExchangeDebit" value=""/>
      <a id="exchangeCredit"></a>
      <input type="hidden" id="hExchangeCredit" value=""/>
    </td>
  </tr>
  <tr>
    <td align="left">
      <a id="toDate"></a>
    </td>
    <td align="right">
      <a id="toDebit"></a>
      <input type="hidden" id="hToDebit" value=""/>
      <a id="toCredit"></a>
      <input type="hidden" id="hToCredit" value=""/>
    </td>
  </tr>
</table>

<table id="transcript_p_s_controls" style="display: none">
    <tr align="right">
      <td>
        <input type="button" value="discard" onclick="showTranscriptPage();"/>
        <input type="button" id="transcript_submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr id="transcript_page_selection">
    </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#transcripts_list").filterToolbar({searchOnEnter : false});
  $("#transcripts_list")[0].toggleToolbar();
</script>
