<script type="text/javascript">
  var waybillDataEntries = new Object();
  var lastSubgridTableId = "";
  function getReleaseEntryColumn(name) {
    switch(name) {
      case "resource": return "<%= t('storehouse.releaseNewList.resource') %>";
      case "amount": return "<%= t('storehouse.releaseNewList.amount') %>";
      case "release": return "<%= t('storehouse.releaseNewList.release') %>";
      case "unit": return "<%= t('storehouse.releaseNewList.unit') %>";
      default: return "";
    }
  }
</script>

<%= raw(release_waybills_jqgrid_tree) %>
<table id=release_waybills_tree></table>
<div id=release_waybills_tree_pager></div>

<script type="text/javascript">
  var filter = false;
  $("#release_waybills_tree").filterToolbar({searchOnEnter : false});
  $("#release_waybills_tree")[0].toggleToolbar();
</script>
