<script type="text/javascript">
  var lastSelId = "";
  var canSave = true;

  $(function() {
    $("#storehouse_date").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
  });

  function check_storehouse_waybill(id) {
   if(!$("#check_" + id).is(":checked")) {
     $("#storehouse_release_list").setCell(id, 'release',' ');
   } else {
     $("#storehouse_release_list").setCell(id, 'release',
       $("#storehouse_release_list").getCell(id, 'amount'));
   }
   $("#storehouse_release_list").setSelection(id);
  }
  function sendReturn() {
    dataPage = new Object();
    dataPage["dataGrid"] = storeHouseData;
    dataPage["date"] = $("#storehouse_date").val();
    dataPage["from"] = $("#storehouse_from").val();
    $("#storehouse_release_list").saveRow(lastSelId);
    var d = new Date($("#storehouse_date").val());
    d.setUTCHours(12);
    var entries = "";
    for (var i in storeHouseData) {
      entries += "&resource_id[]=" + i + "&return_amount[]=" + storeHouseData[i];
    }
    ajaxRequest("/storehouses/return/return_resources?date=" + d.toUTCString() +
                "&from=" + $('#storehouse_from').val() + entries);
  }
  function saveEdittedReturnRow() {
    if(canSave) {
      if($("#gbox_storehouse_release_list").html() != null) {
        $("#storehouse_release_list").saveRow(lastSelId);
      }
    }
  }
</script>

<%= raw(storehouse_release_jqgrid) %>

<%= form_for(:return, :remote => true) do |f| %>
<%= f.error_messages %>
<% end %>
<table>
  <tbody>
    <tr align="right">
      <td colspan="2">
        * - <%=t 'reqFields'%>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'storehouse.date'%>*:
      </td>
      <td align="right">
        <input type="text" id="storehouse_date" value="" size="50"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'storehouse.from'%>*:
      </td>
      <td align="right">
        <input type="text" id="storehouse_from" value="" size="50"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" onmousedown="canSave = true;" onmouseup="saveEdittedReturnRow();">
        <table id=storehouse_release_list onmouseup="canSave = false;"></table>
        <div id=storehouse_release_pager></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <input type="button" value="<%=t 'storehouse.btn_save'%>" onclick="sendReturn();"/>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  var filter = false;
  $("#storehouse_release_list").filterToolbar({searchOnEnter : false});
  $("#storehouse_release_list")[0].toggleToolbar();
</script>
