<%= raw(release_view_entries_jqgrid) %>
<table>
  <tbody>
    <tr>
      <td align="right" colspan="2">
        * - <%=t 'reqFields'%>
      </td>
    </tr>
    <tr>
      <td align="left">
        <%=t 'storehouse.releaseList.place'%>*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @place %>"/>
      </td>
    </tr>
    <tr>
      <td align="left">
        <%=t 'storehouse.releaseList.owner'%>*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @owner %>"/>
      </td>
    </tr>
    <tr>
      <td align="left">
        <%=t 'storehouse.releaseList.date'%>*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @date %>"/>
      </td>
    </tr>
    <tr>
      <td align="left">
        <%=t 'storehouse.releaseList.to'%>*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @to %>"/>
      </td>
    </tr>
    <tr id="release_state">
      <td align="left">
        <%=t 'storehouse.releaseList.status'%>*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @state %>"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table id=release_view_list></table>
        <div id=release_view_pager></div>
      </td>
    </tr>
    <tr>
      <td align="left">
        <input type="button" value="<%=t 'storehouse.btn_print'%>"
               onclick="window.location.href='storehouses/pdf?id=' +
                        location.hash.substr(30)" />
      </td>
      <td align="right">
        <input type="button" value="<%=t 'storehouse.btn_back'%>"
               onclick="location.hash = '#storehouses/releases';"/>
        <input type="button" value="<%=t 'storehouse.btn_cancel'%>" id="release_apply"
               onclick="$.ajax({url: 'storehouses/releases/cancel/' + location.hash.substr(30)});"
               <% if !can?(:manage, Storehouse) or @disable_btns %>
                 disabled="disabled"
               <% end %>/>
        <input type="button" value="<%=t 'storehouse.btn_apply'%>" id="release_cancel"
               onclick="$.ajax({url: 'storehouses/releases/apply/' + location.hash.substr(30)});"
               <% if !can?(:manage, Storehouse) or @disable_btns %>
                 disabled="disabled"
               <% end %>/>
      </td>
    </tr>
  </tbody>
</table>
