<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick=""/>
      <input name="reset" type="button" value="reset"
        onclick=""/>
    </td>
    <td style="width: 45px">
      <%= form_for(@user, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_user", :disabled => "true" %>
      <%= f.hidden_field :email, :id => "hide_email", :value => @user.email %>
      <%= f.hidden_field :password, :id => "hide_pass", :value => "" %>
      <%= f.hidden_field :password_confirmation, :id => "hide_pass_c", :value => "" %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      email:
      <input id="user_email" type="text" disabled="true" value="" size="80" />
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      password:
      <input id="user_pass" type="password" value="" size="76" />
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      password confirmation:
      <input id="user_pass_c" type="password" value="" size="64" />
    </td>
  </tr>
</table>
