<script type="text/javascript">
  var email = unescape($('#hide_email').val());
  $('#user_email').val(email);

  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendDataUser()
  {
    $('#hide_email').val(escape($('#user_email').val()));
    $('#hide_pass').val($('#user_pass').val());
    $('#hide_pass_c').val($('#user_pass_c').val());
  }
  function onCancel()
  {
    $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
    $('#users_list').resetSelection();
  }
  function onReset()
  {
    $('#user_email').val(email);
    $('#user_pass').val('');
    $('#user_pass_c').val('');
    $('#save_user').attr('disabled','disabled');
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td style="width: 45px">
      <%= form_for(@user, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_user", :disabled => "true",
                           :onclick => "sendDataUser();" %>
      <%= f.hidden_field :email, :id => "hide_email", :value => @user.email %>
      <%= f.hidden_field :password, :id => "hide_pass", :value => "" %>
      <%= f.hidden_field :password_confirmation, :id => "hide_pass_c", :value => "" %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      email:
      <input id="user_email" type="text" disabled="true" value="" size="80" />
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      password:
      <input id="user_pass" type="password" value="" size="76" />
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      password confirmation:
      <input id="user_pass_c" type="password" value="" size="64" />
    </td>
  </tr>
</table>
