<td>
  <input name="cancel" type="button" value="cancel"
    onclick="onCancel();"/>
  <input name="reset" type="button" value="reset"
    onclick="onReset();"/>
</td>
<td style="width: 45px">
  <%= form_for(@user, :remote => true) do |f| %>
    <%= f.submit "save", :id => "save_user", :disabled => "true",
                         :onclick => "sendDataUser();" %>
    <%= f.hidden_field :email, :id => "hide_email", :value => @user.email %>
    <%= f.hidden_field :entity_id, :id => "hide_user_entity_id" %>
    <%= f.hidden_field :password, :id => "hide_pass", :value => "" %>
    <%= f.hidden_field :password_confirmation, :id => "hide_pass_c", :value => "" %>
    <div style="display: none">
      <% for role in Role.find(:all) %>
          <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role),
                :id => "role_ids_" + role.id.to_s %>
      <% end %>
    </div>
  <% end %>
</td>
