<script type="text/javascript">
  var email = "";
  var roles = "";
  var entity_id = "";
  var entity_tag = "";
  var place_id = "";
  var place_tag = "";
  var canSelect = true;
  var changePass;
  function uncheckRoles(enabled)
  {
    <% for role in Role.find(:all) %>
      if(enabled)
      {
        $('#user_role_id_' + '<%= role.id.to_s %>').removeAttr('disabled');
      }
      else
      {
        $('#user_role_id_' + '<%= role.id.to_s %>').attr('disabled','disabled');
      }
      $('#user_role_id_' + '<%= role.id.to_s %>').removeAttr('checked');
    <% end %>
  }
  function sendDataUser()
  {
    <% for role in Role.find(:all) %>
      $('#role_ids_' + <%= role.id.to_s %>).attr('checked',
        $('#user_role_id_' + '<%= role.id.to_s %>').is(':checked'));
    <% end %>
    $('#hide_email').val(escape($('#user_email').val()));
    $('#hide_pass').val($('#user_pass').val());
    $('#hide_pass_c').val($('#user_pass_c').val());
  }
  function onReset()
  {
    $("#user_email").val(email);
    $("#user_pass").val("");
    $("#user_pass_c").val("");
    $("#user_entity_tag").val(entity_tag);
    $("#hide_user_entity_id").val(entity_id);
    $("#user_place_tag").val(place_tag);
    $("#hide_user_place_id").val(place_id);
    $("#save_user").attr("disabled","disabled");
    uncheckRoles("enabled");
    if(roles != "") {
      checkRoles(roles);
    }
  }
  function viewActionForm(emailValue, entityId, placeId, loadType)
  {
    canSelect = false;
    email = emailValue;
    entity_id = entityId;
    place_id = placeId;
    $("#data_list").resetSelection();
    if(loadType == 'edit_pass')
    {
      $("#email").css("display","none");
      $("#pass").css("display","table-row");
      $("#pass_c").css("display","table-row");
      $("#roles").css("display","none");
      $("#hide_email").attr("name", "");
    }
    else
    {
      uncheckRoles("enabled");
      $("#user_email").removeAttr('disabled');
      $("#user_email").val(email);
      $("#user_entity_choose").removeAttr("disabled");
      $("#user_place_choose").removeAttr("disabled");
      $("#roles").css("display","block");
      if(loadType == 'new')
      {
        $("#pass").css("display","table-row");
        $("#pass_c").css("display","table-row");
        roles = "";
      }
      else
      {
        $('#hide_pass').attr('name', '');
        $('#hide_pass_c').attr('name', '');
      }
    }
    <% for role in Role.find(:all) %>
      $('#user_role_id_' + <%= role.id.to_s %>).attr('checked',
        $('#role_ids_' + '<%= role.id.to_s %>').is(':checked'));
    <% end %>
  }
  function viewIndexFrom()
  {
    location.hash = "#users";
  }
  function onCancel()
  {
    viewIndexFrom();
  }
  function userChoiseEntity()
  {
    crossPage = "user";
    crossPageLink = "users/new";
    $("#users_div").css("display","none");
    $("#user_p_s_controls").css("display","block");
    $("#user_page_selection").html("<%= escape_javascript(render :partial => 'entities/index') %>");
    $("#user_submit").click(function() {
      var selRow = $("#entity_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#hide_user_entity_id").val(selRow);
        $("#user_entity_tag").val($("#entity_list").getCell(selRow, "tag"));
        showUserPage();
        $("#save_user").removeAttr('disabled');
      }
    });
  }
  function userChoisePlace()
  {
    crossPage = "user";
    crossPageLink = "users/new";
    $("#users_div").css("display","none");
    $("#user_p_s_controls").css("display","block");
    $("#user_page_selection").html("<%= escape_javascript(render :partial => 'places/index') %>");
    $("#user_submit").click(function() {
      var selRow = $("#place_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#hide_user_place_id").val(selRow);
        $("#user_place_tag").val($("#place_list").getCell(selRow, "tag"));
        showUserPage();
        $("#save_user").removeAttr('disabled');
      }
    });
  }
  function showUserPage()
  {
    $("#users_div").css("display","block");
    $("#user_p_s_controls").css("display","none");
    $("#user_page_selection").html("");
    $("#user_submit").unbind("click");
    crossPage = "";
  }
  function checkRoles(ids)
  {
    for(var i=0; i<ids.length; i++)
    {
      $("#user_role_id_" + ids[i]).attr("checked", "checked");
    }
  }
</script>

<%= raw(users_jqgrid) %>

<div id="users_div">
  <table id="data_list"></table>
  <div id="data_pager"></div>

  <table>
    <tr id="actions" align="right">
      <%= render 'form_index' %>
    </tr>
    <tr align="left" id="email" style="display: table-row">
      <td colspan="3">
        email:
        <input id="user_email" type="text" disabled="true" value="" size="71"
               onkeypress="$('#save_user').removeAttr('disabled');" />
      </td>
    </tr>
    <tr align="left">
      <td colspan="3">
        entity:
        <input id="user_entity_tag" type="text" disabled="true" value=""
               size="62"/>
        <input id="user_entity_choose" type="button" value="choose" disabled="true"
               onclick="userChoiseEntity();"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="3">
        place:
        <input id="user_place_tag" type="text" disabled="true" value=""
               size="62"/>
        <input id="user_place_choose" type="button" value="choose" disabled="true"
               onclick="userChoisePlace();"/>
      </td>
    </tr>
    <tr align="left" id="pass" style="display: none">
      <td colspan="3">
        password:
        <input id="user_pass" type="password" value="" size="76"
               onkeypress="$('#save_user').removeAttr('disabled');" />
      </td>
    </tr>
    <tr align="left" id="pass_c" style="display: none">
      <td colspan="3">
        password confirmation:
        <input id="user_pass_c" type="password" value="" size="64"
               onkeypress="$('#save_user').removeAttr('disabled');" />
      </td>
    </tr>
    <tr id="roles" style="display: none">
      <td colspan="3">
        <p>Roles</p>
        <% for role in Role.find(:all) %>
          <div>
            <%= check_box_tag "user_role_id_" + role.id.to_s, role.id, false,
                  :disabled => true,
                  :onchange => "$('#save_user').removeAttr('disabled');"%>
            <%= role.name %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<table id="user_p_s_controls" style="display: none">
    <tr align="right">
      <td>
        <input type="button" value="discard" onclick="showUserPage();"/>
        <input type="button" id="user_submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr id="user_page_selection">
    </tr>
</table>
