<script type="text/javascript">
  var canSelectEntityReal = true;
  var actionMode = "";
  if (crossPage != "entity_reals") {
    dataPage = new Object();
    dataPage["tag"] = "";
    dataPage["entity_surrogates"] = new Object();
    dataPage["base_entity_surrogates"] = new Object();
  } else {
    crossPage = "";
  }
  function sendTagEntityReal()
  {
    $("#hide_entity_real_tag").val(escape($("#entity_real_tag").val()));
    if ("entity_surrogates" in dataPage) {
      var params = "";
      for (key in dataPage["entity_surrogates"]) {
        params += "&entities[]=" + key;
      }
      if (params.length > 0) {
        $("#entity_real_form").attr("action",
          $("#entity_real_form").attr("action") + "?" + params);
      }
    }
  }
  function showEntityRealIndexForm()
  {
    location.hash = "#entity_reals";
    dataPage = new Object();
    dataPage["tag"] = "";
    dataPage["entity_surrogates"] = new Object();
    dataPage["base_entity_surrogates"] = new Object();
    canSelectEntityReal = true;
    actionMode = "";
  }
  function onCancelEntityReal()
  {
    showEntityRealIndexForm();
  }
  function onResetEntityReal()
  {
    dataPage["entity_surrogates"] = dataPage["base_entity_surrogates"];
    $("#entity_real_tag").val(dataPage["tag"]);
    $("#save_entity_real").attr("disabled","disabled");
  }
  function showEntityRealActionForm(tag, action)
  {
    if ("tag" in dataPage && dataPage["tag"].length > 0) {
      tag = dataPage["tag"];
    } else {
      dataPage["tag"] = tag;
    }
    $("#entity_real_tag").val(tag);
    $("#entity_real_tag").removeAttr("disabled");
    $("#entity_real_choose").removeAttr("disabled");
    $("#entity_real_list").resetSelection();
    canSelectEntityReal = false;
    actionMode = action;
  }
  function entityRealChooseSurrogates(id)
  {
    if (actionMode == "new") {
      dataPage["tag"] = $("#entity_real_tag").val();
      crossPage = "entity_reals";
      $("#home_btn_discard").css("visibility", "visible");
      $("#home_btn_submit").css("visibility", "visible");
      $("#home_btn_discard").click(function() {
        $("#home_btn_discard").css("visibility", "hidden");
        $("#home_btn_submit").css("visibility", "hidden");
        $("#body").html("");
        location.href = '#entity_reals/new';
      });
      $("#home_btn_submit").click(function() {
        $("#home_btn_discard").css("visibility", "hidden");
        $("#home_btn_submit").css("visibility", "hidden");
        $("#body").html("");
        location.href = '#entity_reals/new';
      });
      location.href = "#entity_reals/surrogates/new";
    } else if (actionMode == "edit") {
      dataPage["tag"] = $("#entity_real_tag").val();
      crossPage = "entity_reals";
      $("#home_btn_discard").css("visibility", "visible");
      $("#home_btn_submit").css("visibility", "visible");
      $("#home_btn_discard").click(function() {
        $("#home_btn_discard").css("visibility", "hidden");
        $("#home_btn_submit").css("visibility", "hidden");
        $("#body").html("");
        location.href = '#entity_reals/' + id + '/edit';
      });
      $("#home_btn_submit").click(function() {
        $("#home_btn_discard").css("visibility", "hidden");
        $("#home_btn_submit").css("visibility", "hidden");
        $("#body").html("");
        location.href = '#entity_reals/' + id + '/edit';
      });
      location.href = '#entity_reals/' + id + "/surrogates/edit";
    } else {
      $("#home_btn_back").css("visibility", "visible");
      $("#home_btn_back").click(function() {
        location.href = '#entity_reals';
        $("#home_btn_back").css("visibility", "hidden");
      });
      location.href = '#entity_reals/' + id + "/surrogates";
    }
  }
  function showEntityRealPage()
  {
    $("#entity_real_body").css("display","block");
    $("#entity_real_p_s_controls").css("display","none");
    $("#entity_real_page_selection").html("");
    $("#entity_real_submit").unbind("click");
    crossPage = "";
  }
</script>

<%= raw(entity_real_jqgrid) %>

<div id="entity_real_body">
  <table>
    <tr>
        <td colspan="2" id="entity_real_errors"></td>
    </tr>
    <tr>
      <td colspan="2">
        <table id="entity_real_list"></table>
        <div id="entity_real_pager"></div>
        </td>
    </tr>
    <tr id="entity_real_actions" align="right">
        <%= render 'entity_reals/form_index' %>
    </tr>
    <tr align="left">
      <td colspan="2">
        <%=t 'entity.tag'%>:
        <input id="entity_real_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_entity_real').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        <input id="entity_real_choose" type="button" disabled="true"
             value="<%= t('quote.btn_choose')%>" onclick="entityRealChooseSurrogates(-1)"/>
      </td>
    </tr>
  </table>
</div>

<table id="entity_real_p_s_controls" style="display: none">
  <tr align="right">
    <td>
      <input type="button" value="<%= t('buttons.btn_discard')%>" onclick="showEntityRealPage();"/>
      <input type="button" id="entity_real_submit" value="<%= t('buttons.btn_submit')%>" onclick=""/>
    </td>
  </tr>
  <tr id="entity_real_page_selection">
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#entity_real_list").filterToolbar({searchOnEnter : false});
  $("#entity_real_list")[0].toggleToolbar();
</script>