<script type="text/javascript">
  var tagEntityReal = "";
  function sendTagEntityReal()
  {
    $("#hide_entity_real_tag").val(escape($("#entity_real_tag").val()));
    saveEntityRealElements();
  }
  function showEntityRealIndexForm()
  {
    location.hash = "#entity_reals";
    dataPage = null;
  }
  function onCancelEntityReal()
  {
    showEntityRealIndexForm();
  }
  function onResetEntityReal()
  {
    $("#entity_real_tag").val(tagEntityReal);
    $("#save_entity_real").attr("disabled","disabled");
  }
  function showEntityRealActionForm(tag)
  {
    tagEntityReal = tag;
    $("#entity_real_tag").val(tagEntityReal);
    $("#entity_real_tag").removeAttr("disabled");
    $("#entity_real_choose").removeAttr("disabled");
    $("#entity_real_list").resetSelection();
    loadEntityRealElements();
  }
  function saveEntityRealElements() {
    dataPage = new Object();
    dataPage["tag"] = tagEntityReal;
  }
  function loadEntityRealElements() {
    if(dataPage != null) {
      tagEntityReal = dataPage["tag"];
      dataPage = null;
    }
  }
  function entityRealChooseSurrogates()
  {
    crossPage = "entity_reals";
    crossPageLink = "entity_reals/new";
    $("#entity_real_body").css("display","none");
    $("#entity_real_p_s_controls").css("display","block");
    $("#entity_real_page_selection").html("<%= escape_javascript(render :partial => 'entities/select') %>");

    $("#entity_real_submit").click(function() {
      showEntityRealPage();
    });
  }
  function showEntityRealPage()
  {
    $("#entity_real_body").css("display","block");
    $("#entity_real_p_s_controls").css("display","none");
    $("#entity_real_page_selection").html("");
    $("#entity_real_submit").unbind("click");
    crossPage = "";
  }
</script>

<%= raw(entity_real_jqgrid) %>

<div id="entity_real_body">
  <table>
    <tr>
        <td colspan="2" id="entity_real_errors"></td>
    </tr>
    <tr>
      <td colspan="2">
        <table id="entity_real_list"></table>
        <div id="entity_real_pager"></div>
        </td>
    </tr>
    <tr id="entity_real_actions" align="right">
        <%= render 'entity_reals/form_index' %>
    </tr>
    <tr align="left">
      <td colspan="2">
        <%=t 'entity.tag'%>:
        <input id="entity_real_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_entity_real').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        <input id="entity_real_choose" type="button" disabled="true"
             value="<%= t('quote.btn_choose')%>" onclick="entityRealChooseSurrogates()"/>
      </td>
    </tr>
  </table>
</div>

<table id="entity_real_p_s_controls" style="display: none">
  <tr align="right">
    <td>
      <input type="button" value="<%= t('buttons.btn_discard')%>" onclick="showEntityRealPage();"/>
      <input type="button" id="entity_real_submit" value="<%= t('buttons.btn_submit')%>" onclick=""/>
    </td>
  </tr>
  <tr id="entity_real_page_selection">
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#entity_real_list").filterToolbar({searchOnEnter : false});
  $("#entity_real_list")[0].toggleToolbar();
</script>