<script type="text/javascript">
  var canSelectEntityReal = true;
  dataPage = new Object();
  dataPage["tag"] = "";
  dataPage["entity_surrogates"] = new Object();
  dataPage["base_entity_surrogates"] = new Object();
  function sendTagEntityReal()
  {
    $("#hide_entity_real_tag").val(escape($("#entity_real_tag").val()));
    if ("entity_surrogates" in dataPage) {
      var params = "";
      for (key in dataPage["entity_surrogates"]) {
        params += "&entities[]=" + key;
      }
      if (params.length > 0) {
        $("#entity_real_form").attr("action",
          $("#entity_real_form").attr("action") + "?" + params);
      }
    }
  }
  function showEntityRealIndexForm()
  {
    location.hash = "#entity_reals";
    dataPage = new Object();
    dataPage["tag"] = "";
    dataPage["entity_surrogates"] = new Object();
    dataPage["base_entity_surrogates"] = new Object();
    canSelectEntityReal = true;
  }
  function onCancelEntityReal()
  {
    showEntityRealIndexForm();
  }
  function onResetEntityReal()
  {
    dataPage["entity_surrogates"] = dataPage["base_entity_surrogates"];
    $("#entity_real_tag").val(dataPage["tag"]);
    $("#save_entity_real").attr("disabled","disabled");
  }
  function showEntityRealActionForm(tag)
  {
    dataPage["tag"] = tag;
    $("#entity_real_tag").val(tag);
    $("#entity_real_tag").removeAttr("disabled");
    $("#entity_real_choose").removeAttr("disabled");
    $("#entity_real_list").resetSelection();
    canSelectEntityReal = false;
  }
  function entityRealChooseSurrogates()
  {
    crossPage = "entity_reals";
    crossPageLink = "entity_reals/new";
    $("#entity_real_body").css("display","none");
    $("#entity_real_p_s_controls").css("display","block");
    $("#entity_real_page_selection").html("<%= escape_javascript(render :partial => 'entities/select') %>");

    $("#entity_real_submit").click(function() {
      dataPage["entity_surrogates"] = jQuery.extend(true, {}, entityCheckedData);
      showEntityRealPage();
    });
  }
  function showEntityRealPage()
  {
    $("#entity_real_body").css("display","block");
    $("#entity_real_p_s_controls").css("display","none");
    $("#entity_real_page_selection").html("");
    $("#entity_real_submit").unbind("click");
    crossPage = "";
  }
</script>

<%= raw(entity_real_jqgrid) %>

<div id="entity_real_body">
  <table>
    <tr>
        <td colspan="2" id="entity_real_errors"></td>
    </tr>
    <tr>
      <td colspan="2">
        <table id="entity_real_list"></table>
        <div id="entity_real_pager"></div>
        </td>
    </tr>
    <tr id="entity_real_actions" align="right">
        <%= render 'entity_reals/form_index' %>
    </tr>
    <tr align="left">
      <td colspan="2">
        <%=t 'entity.tag'%>:
        <input id="entity_real_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_entity_real').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        <input id="entity_real_choose" type="button" disabled="true"
             value="<%= t('quote.btn_choose')%>" onclick="entityRealChooseSurrogates()"/>
      </td>
    </tr>
  </table>
</div>

<table id="entity_real_p_s_controls" style="display: none">
  <tr align="right">
    <td>
      <input type="button" value="<%= t('buttons.btn_discard')%>" onclick="showEntityRealPage();"/>
      <input type="button" id="entity_real_submit" value="<%= t('buttons.btn_submit')%>" onclick=""/>
    </td>
  </tr>
  <tr id="entity_real_page_selection">
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#entity_real_list").filterToolbar({searchOnEnter : false});
  $("#entity_real_list")[0].toggleToolbar();
</script>