<script type="text/javascript">
  var dataPage = null;
  var crossPage = "";
  var crossPageLink = "";
  var cancelRequest = false;

  $(window).bind("hashchange", function() {
    if(!cancelRequest) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    } else {
      cancelRequest = false;
    }
  });

  $(".page_link").live("click", function() {
    crossPage = "";
    crossPageLink = "";
    dataPage = null;
    if($(this).attr("href") == location.hash) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    }
  });

  $(document).ready(function () {
    if(location.hash.length > 0) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    }
  });

  $(".button_to").live("submit", function() {
    cancelRequest = true;
    location.hash = $(this).attr("action").substr(1, $(this).attr("action").length);
  });

  function fixPager(param, grid) {
    if(param == "records") {
      var rowNum = $("#" + grid).getGridParam("rowNum");
      $("#" + grid + "_toppager").find(".ui-pg-selbox").children("[value=" + rowNum + "]")
                                 .attr("selected", "true");
    }
  }
</script>

<ul id="nav">
  <% if user_signed_in? %>
    <li><a href="#"><%=t 'menu.account'%></a>
      <ul>
        <li>
            <%= link_to(t('menu.logout'), destroy_user_session_path) %>
        </li>
      </ul>
    </li>
  <% end %>
  <% if !current_user.nil? and
      (can?(:read, Entity) or can?(:read, [Asset, Money]) or
      can?(:read, Chart) or can?(:read, Quote) or can?(:read, Place)) %>
    <li>
      <a href="#"><%=t 'menu.manage'%></a>
      <ul>
        <% if can? :read, Place %>
          <li>
            <a href="#places" class="page_link"><%=t 'menu.place'%></a>
          </li>
        <% end %>
        <% if can? :read, Entity %>
          <li>
            <a href="#entities" class="page_link"><%=t 'menu.entity'%></a>
          </li>
        <% end %>
        <% if can? :read, Asset, Money %>
          <li>
            <a href="#resources" class="page_link"><%=t 'menu.resource'%></a>
          </li>
        <% end %>
        <% if can? :read, Chart %>
          <li>
            <a href="#charts" class="page_link"><%=t 'menu.chart'%></a>
          </li>
        <% end %>
        <% if can? :read, Quote %>
          <li>
            <a href="#quotes" class="page_link"><%=t 'menu.quote'%></a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if !current_user.nil? and
      (can?(:read, Deal) or can?(:manage, Fact)) %>
    <li>
      <a href="#"><%=t 'menu.process'%></a>
      <ul>
        <% if can?(:read, Deal) %>
          <li>
            <a href="#deals" class="page_link"><%=t 'menu.deal'%></a>
          </li>
        <% end %>
        <% if can?(:manage, Fact) %>
          <li>
            <a href="#facts" class="page_link"><%=t 'menu.fact'%></a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if !current_user.nil? and
      (can?(:manage, GeneralLedger) or can?(:manage, Balance) or
       can?(:manage, Transcript)) %>
    <li>
      <a href="#"><%=t 'menu.report'%></a>
      <ul>
        <% if can? :manage, GeneralLedger %>
          <li>
            <a href="#general_ledgers" class="page_link"><%=t 'menu.generalLedger'%></a>
          </li>
        <% end %>
        <% if can? :manage, Balance %>
          <li>
            <a href="#balances" class="page_link"><%=t 'menu.balance'%></a>
          </li>
        <% end %>
        <% if can? :manage, Transcript %>
          <li>
            <a href="#transcripts" class="page_link"><%=t 'menu.transcript'%></a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if !current_user.nil? and
      (can?(:view, Storehouse) or can?(:view, Waybill) or
       can?(:list, StorehouseRelease) or (can?(:manage, StorehouseReturn) and !current_user.place.nil?)) %>
    <li>
      <a href="#"><%=t 'menu.storehouse'%></a>
      <ul>
        <% if can?(:view, Storehouse) %>
          <li>
            <a href="#storehouses" class="page_link"><%=t 'menu.state'%></a>
          </li>
        <% end %>
        <% if can?(:view, Waybill) %>
          <li>
            <a href="#waybills" class="page_link"><%=t 'menu.waybill'%></a>
          </li>
        <% end %>
        <% if can?(:list, StorehouseRelease) %>
          <li>
            <a href="#storehouses/releases" class="page_link"><%=t 'menu.release'%></a>
          </li>
        <% end %>
        <% if can?(:manage, StorehouseReturn) and !current_user.place.nil? %>
          <li>
            <a href="#storehouses/return" class="page_link"><%=t 'menu.return'%></a>
          </li>
        <% end %>
          <li>
            <a href="#storehouses/resource_state" class="page_link"><%=t 'menu.resource_state'%></a>
          </li>
      </ul>
    </li>
  <% end %>
  <% if !current_user.nil? and can?(:manage, :all) then %>
    <li><a href="#"><%= t('menu.administration')%></a>
      <ul>
        <li><a href="#users" class="page_link"><%= t('menu.user')%></a></li>
        <li><a href="#roles" class="page_link"><%= t('menu.role')%></a></li>
      </ul>
    </li>
  <% end %>
</ul>

<div id="body">
</div>
