<% content_for :head do %>
  <title>Abstract</title>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<p>
  <a href="#" onclick="$.ajax({url: 'entities'});">Entity</a>
  <%= link_to 'Resource', resources_path %>
  <a href="#" onclick="$.ajax({url: 'deals'});">Deal</a>
  <%= link_to 'Fact', facts_path %>
  <%= link_to 'Chart', charts_path %>
  <%= link_to 'Quote', quotes_path %>
  <%= link_to 'Balance', balances_path %>
  <%= link_to 'GeneralLedger', general_ledgers_path %>
  <%= link_to 'Transcript', transcripts_path %>
</p>
<p>
  <a href="#" onclick="$.ajax({url: 'users'});">User</a>
  <a href="#" onclick="$.ajax({url: 'roles'});">Role</a>
</p>

<div id="body">
</div>
