<% content_for :head do %>
  <title>Abstract</title>
<% end %>

<h1>Abstract Home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Entity', entities_path %>
<%= link_to 'Resource', resources_path %>
<%= link_to 'Deal', deals_path %>
<%= link_to 'Fact', facts_path %>
<%= link_to 'Chart', charts_path %>
<%= link_to 'Quote', quotes_path %>
<%= link_to 'Balance', balances_path %>
<%= link_to 'GeneralLedger', general_ledgers_path %>
<%= link_to 'Transcript', transcripts_path %>
