<script type="text/javascript">
  if("<%= @money_tag %>" != "")
  {
    $("#curr_chart_div").html("<%= @money_tag %>");
    $("#save_chart").hide();
    $("#msg_chart_div").css("display","block");
    $("#chart_curr_btn").hide();
    $("#curr_chart_div").css("display","block");
  }
  function chartChoiseResource()
  {
    crossPage = "chart";
    crossPageLink = "charts";
    $("#chart_div").css("display","none");
    $("#chart_p_s_controls").css("display","block");
    ajaxRequest("resources");

    $("#chart_submit").click(function() {
      var selRow = $("#resources_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#chart_curr_btn").val($("#resources_list").getCell(selRow, "tag"));
        $("#hide_chart_curr_id").val($("#resources_list").getCell(selRow, "id"));
        showChartPage();
      }
    });
  }
  function showChartPage()
  {
    $("#chart_div").css("display","block");
    $("#chart_p_s_controls").css("display","none");
    $("#chart_page_selection").html("");
    $("#chart_submit").unbind("click");
    crossPage = "";
  }
</script>

<div id="chart_div">
  <table>
    <tr>
      <td>Chart</td>
    </tr>
    <tr>
      <td>resource</td>
      <td>
        <input type="button" id="chart_curr_btn" value="click to choose"
                             onclick="chartChoiseResource();"/>
        <div id="curr_chart_div" style="display: none">
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= form_for(@chart, :remote => true) do |f| %>
        <%= f.hidden_field :currency_id, :id => "hide_chart_curr_id" %>
        <%= f.submit "commit", :id => "save_chart",
                               :value => "set as 'Functional currency'" %>
        <% end %>
        <div id="msg_chart_div" style="display: none">
          Functional currency has already been set
        </div>
      </td>
    </tr>
  </table>
</div>

<table id="chart_p_s_controls" style="display: none">
  <tr align="right">
    <td>
      <input type="button" value="discard" onclick="showChartPage();"/>
      <input type="button" id="chart_submit" value="submit" onclick=""/>
    </td>
  </tr>
  <tr id="chart_page_selection">
  </tr>
</table>
