<% content_for :head do %>
  <title>Abstract::Charts</title>
<% end %>

<script type="text/javascript">
function chooseCurrency()
{
  $('#chart_div').css('display','none');
  $('#frame_chart_div').css('display','block');
  $('#frame').attr('src', 'resources');
  $('#title_frame').html('Resources');

  $('#submit').click(function() {
    var selRow = $('#frame').contents().find('#resources_list')
                                       .getGridParam('selrow');
    if (selRow != null)
    {
      $('#chart_curr_btn').val(selRow);
      $('#hide_chart_curr_id').val($('#frame').contents().find('#resources_list')
                                              .getCell(selRow, 'id'));
      $('#chart_div').css('display','block');
      $('#frame_chart_div').css('display','none');
      $('#frame').attr('src', '');
      $("#submit").unbind("click");
    }
  });
}
function discardChoose()
{
  $('#chart_div').css('display','block');
  $('#frame_chart_div').css('display','none');
}
</script>

<div id="chart_div">
  <table>
    <tr>
      <td>Chart</td>
    </tr>
    <tr>
      <td>resource</td>
      <td>
        <input type="button" id="chart_curr_btn" value="click to choose"
                             onclick="chooseCurrency();"/>
        <div id="curr_chart_div" style="display: none">
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= form_for(@chart, :remote => true) do |f| %>
        <%= f.hidden_field :currency_id, :id => "hide_chart_curr_id"%>
        <%= f.submit "commit", :id => "save_chart",
                               :value => "set as 'Functional currency'" %>
        <% end %>
        <div id="msg_chart_div" style="display: none">
          Functional currency has already been set
        </div>
      </td>
    </tr>
  </table>
</div>
<div id="frame_chart_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard"
                             onclick="discardChoose();"/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="title_frame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
if(<%=@count.count%> != 0)
{
  var curr_id = <%= if(@count.count != 0)
                      @count.first.currency_id
                    end%>;
  var action;
  action = $.ajax({url: 'resources/' + curr_id + '/get_money_tag'});
  action.complete(function() { $('#curr_chart_div').html(tempTag); });

  $('#save_chart').hide();
  $('#msg_chart_div').css('display','block');
  $('#chart_curr_btn').hide();
  $('#curr_chart_div').css('display','block');
}
</script>
