<script type="text/javascript">
$(function() {
  var curr_date = new Date();
  $("#balance_datepicker").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
  $("#balance_datepicker").val(getDateString(curr_date));
});

function loadBalance()
{
  var actionUrl = "/balances/load?date=" + $("#balance_datepicker").val();
  $("#data_list").setGridParam({url: actionUrl});
  $("#data_list").clearGridData(true);
  $("#data_list").trigger("reloadGrid");
}
</script>

<%= raw(balances_jqgrid) %>

<table>
  <tr>
    <td align="left"><%=t 'balance.date'%></td>
    <td align="right">
      <input type="text" id="balance_datepicker" size="40" onchange="loadBalance();" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%=t 'balance.units'%>:
      <%=t 'balance.physical'%>
      <input type="radio" id="physical" name="unit" checked="true"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
      <%=t 'balance.accounting'%>
      <input type="radio" id="accounting" name="unit"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="data_list"></table>
      <div id="data_pager"></div>
    </td>
  </tr>
  <tr>
    <td align="left"><%=t 'balance.total'%></td>
    <td align="right">
      <a id="tDebit">
        <%= @assets %>
      </a>
      <a id="tCredit">
        <%= @liabilities %>
      </a>
    </td>
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#data_list").filterToolbar({searchOnEnter : false});
  $("#data_list")[0].toggleToolbar();
</script>
