<%= form_for @waybill, :html => {:id => 'waybill_disable_form'},
             :url => {:action => "disable"},
             :remote => true do |f| %>
<%= f.error_messages %>
<table id="waybill_add_list">
  <tbody>
    <tr align="left">
      <td colspan="2">
        <%= t 'waybill.disable', :document_id => @waybill.document_id %>
      </td>
    </tr>
    <tr align="right">
      <td colspan="2">
        * - <%=t 'reqFields'%>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'waybill.comment'%>*:
      </td>
      <td align="right">
        <%= f.text_area :comment, :size => "60x12"  %>
      </td>
    </tr>
    <tr align="right">
      <td colspan="2" style="width: 45px">
        <input type="button" id="waybill_cancel" value="<%=t 'waybill.btn_cancel'%>"
             onclick="location.hash = '#waybills';$('#save_waybill').attr('disabled', 'disabled');" />
        <%= f.submit t('waybill.btn_save'), :id => "save_waybill",
                     :onclick => "$('#save_waybill').attr('disabled', 'disabled');"%>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
