<script type="text/javascript">
  var canSave = true;
  var editRowId = -1;
  var editColId = -1;
  var uin;

  $(function() {
    $("#waybill_date").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
  });

  $("#new_waybill").submit(function() {
    canSave = true;
    saveEdittedRow();
    var data = $("#waybills_list").getRowData();
    var entries = "";
    for(var i=0; i<data.length; i++) {
      entries += "&entry_resource[]=" + data[i]["resource"] +
                 "&entry_amount[]=" + data[i]["amount"] +
                 "&entry_unit[]=" + data[i]["unit"];
    }
    var d = new Date($("#waybill_date").val());
    d.setHours(12);
    $("#hide_waybill_number").val(escape($("#waybill_number").val()));
    $("#hide_waybill_date").val(d.toUTCString());
    $("#hide_waybill_vatin").val(escape($("#waybill_vatin").val()));
    $("#hide_waybill_from").val(escape($("#waybill_organization").val()));
    $("#new_waybill").attr("action", "/waybills?" + entries);
    saveWaybillElements();
    $("#save_waybill").attr("disabled", "disabled");
    return true;
  });

  function saveEdittedRow() {
    if(editRowId >= 0 && editColId >= 0) {
      if(canSave) $("#waybills_list").saveCell(editRowId,editColId);
    }
  }

  function saveWaybillElements() {
    dataPage = new Object();
    dataPage["number"] = $("#waybill_number").val();
    dataPage["date"] = $("#waybill_date").val();
    dataPage["organization"] = $("#waybill_organization").val();
    dataPage["vatin"] = $("#waybill_vatin").val();
    dataPage["dataGrid"] = $("#waybills_list").getRowData();
  }

  function loadWaybillElements() {
    $("#waybill_number").val(dataPage["number"]);
    $("#waybill_date").val(dataPage["date"]);
    $("#waybill_organization").val(dataPage["organization"]);
    $("#waybill_vatin").val(dataPage["vatin"]);
    for(uin=0; uin<dataPage["dataGrid"].length; uin++) {
      $("#waybills_list").addRowData(uin, dataPage["dataGrid"][uin]);
    }
  }

  function onWaybillKeyUp(e) {
    if(e.keyCode == 13) {
      if(editRowId == $("#waybills_list").getRowData().length) {
        top: {
          var rowid = $("#waybills_list").getGridParam("selrow");
          var resource = $("#waybills_list").getCell(rowid, "resource");
          if((resource == "")||(resource.substring(0,7) == "<input ")) {
            $("#waybills_list").editCell(editRowId, "1", true);
            break top;
          }
          var amount = $("#waybills_list").getCell(rowid, "amount");
          if((amount == "")||(amount.substring(0,7) == "<input ")) {
            $("#waybills_list").editCell(editRowId, "2", true);
            break top;
          }
          var unit = $("#waybills_list").getCell(rowid, "unit");
          if((unit == "")||(unit.substring(0,7) == "<input ")) {
            $("#waybills_list").editCell(editRowId, "3", true);
            break top;
          }
          
          $("#waybills_list").addRowData(uin, { resource: "", amount: ""
                                              , unit: "" });
          uin++;
          $("#waybills_list").editCell(editRowId+1, "1", true);
        }
      }
    }
  }
</script>

<%= raw(waybills_jqgrid) %>

<%= form_for(@waybill, :remote => true) do |f| %>
<%= f.error_messages %>
<table id="waybill_add_list">
  <tbody>
    <tr align="right">
      <td colspan="2">
        * - <%=t 'reqFields'%>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'waybill.number'%>*:
      </td>
      <td align="right">
        <input type="text" id="waybill_number" value="" size="35"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'waybill.date'%>*:
      </td>
      <td align="right">
        <input type="text" id="waybill_date" value="" size="35"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'waybill.organization'%>*:
      </td>
      <td align="right">
        <input type="text" id="waybill_organization" value="" size="35"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        <%=t 'waybill.vatin'%>:
      </td>
      <td align="right">
        <input type="text" id="waybill_vatin" value="" size="35"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        <%=t 'waybill.entry'%>*:
      </td>
    </tr>
    <tr>
      <td colspan="2" onmousedown="canSave = true;" onmouseup="saveEdittedRow();" onkeyup="onWaybillKeyUp(event);">
        <table id=waybills_list onmouseup="canSave = false;"></table>
        <div id=waybills_pager></div>
      </td>
    </tr>
    <tr align="right">
      <td colspan="2" style="width: 45px">
        <%= f.submit t('waybill.btn_save'), :id => "save_waybill" %>
        <%= f.hidden_field :document_id, :id => "hide_waybill_number" %>
        <%= f.hidden_field :created, :id => "hide_waybill_date" %>
        <%= f.hidden_field :vatin, :id => "hide_waybill_vatin" %>
        <%= f.hidden_field :from, :id => "hide_waybill_from" %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
