<script type="text/javascript">
  $(function() {
    $("#waybill_date").datepicker();
  });
</script>

<table id="waybill_add_list">
  <tbody>
    <tr align="right">
      <td colspan="2">
        * - required fields
      </td>
    </tr>
    <tr align="left">
      <td>
        Date*:
      </td>
      <td>
        <input type="text" id="waybill_date" value="" size="30"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        Organization*:
      </td>
      <td>
        <input type="text" id="waybill_organization" value="" size="30"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        Vatin:
      </td>
      <td>
        <input type="text" id="waybill_vatin" value="" size="30"/>
      </td>
    </tr>
    <tr align="right">
      <td colspan="2" style="width: 45px">
        <%= form_for(@waybill, :remote => true) do |f| %>
        <%= f.submit "save", :id => "save_waybill", :onclick => "" %>
        <%= f.hidden_field :date, :id => "hide_waybill_date" %>
        <%= f.hidden_field :owner_id, :id => "hide_waybill_owner",
                           :value => "" %>
        <%= f.hidden_field :vatin, :id => "hide_waybill_vatin" %>
        <%= hidden_field :organization_text, :id => "hide_waybill_org" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
