<%= raw(waybills_jqgrid_tree) %>
<table>
  <tr>
    <td align="right">
      <input type="button" id="waybills_add" value="<%=t 'waybill.btn_add'%>"
             onclick="location.hash = '#waybills/new';" />
      <input type="button" id="waybills_release" value="<%=t 'waybill.btn_release'%>"
             onclick="" disabled/>
      <input type="button" id="waybills_disable" value="<%=t 'waybill.btn_disable'%>"
             onclick="" disabled/>
    </td>
  </tr>
  <tr>
    <td>
      <table id=waybills_tree></table>
      <div id=waybills_tree_pager></div>
    </td>
  </tr>
  <tr>
    <td align="right">
      <input type="button" id="waybills_add_1" value="<%=t 'waybill.btn_add'%>"
             onclick="location.hash = '#waybills/new';" />
      <input type="button" id="waybills_release_1" value="<%=t 'waybill.btn_release'%>"
             onclick="" disabled/>
      <input type="button" id="waybills_disable_1" value="<%=t 'waybill.btn_disable'%>"
             onclick="" disabled/>
    </td>
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#waybills_tree").filterToolbar({searchOnEnter : false});
  $("#waybills_tree")[0].toggleToolbar();
</script>
