<script type="text/javascript">
$(function() {
  $("#fact_datepicker").datepicker($.datepicker.regional['<%= I18n.locale.to_s %>']);
});
function factChooseDeal(type)
{
  crossPage = "fact";
  crossPageLink = "facts";
  $("#fact_div").css("display","none");
  $("#fact_p_s_controls").css("display","block");
  $("#fact_page_selection").html("<%= escape_javascript(render :partial => 'deals/index') %>");

  $("#fact_submit").click(function() {
    var selRow = $("#deals_list").getGridParam("selrow");
    if (selRow != null)
    {
      $("#fact_" + type + "_btn").val($("#deals_list").getCell(selRow, "tag"));
      $("#hide_fact_" + type + "_deal").val(selRow);
      if(type == "from") {
        $("#hide_fact_resource_id").val($("#deals_list").getCell(selRow, "take_id"));
        $("#hide_fact_resource_type").val($("#deals_list").getCell(selRow, "take_type"));
      }
      showFactPage();
    }
  });
}
function commitFact()
{
  submitId = "save_fact";
  var d = new Date($("#fact_datepicker").val());
  $("#hide_fact_datepicker").val(d.toUTCString());
  saveFactElements();
}
function showFactPage()
{
  $("#fact_div").css("display","block");
  $("#fact_p_s_controls").css("display","none");
  $("#fact_page_selection").html("");
  $("#fact_submit").unbind("click");
  crossPage = "";
}

function saveFactElements() {
  dataPage = new Object();
  dataPage["date"] = $("#fact_datepicker").val();
  dataPage["deal_from_id"] = $("#hide_fact_from_deal").val();
  dataPage["deal_from_tag"] = $("#fact_from_btn").val();
  dataPage["deal_to_id"] = $("#hide_fact_to_deal").val();
  dataPage["deal_to_tag"] = $("#fact_to_btn").val();
  dataPage["resource_id"] = $("#hide_fact_resource_id").val();
  dataPage["resource_type"] = $("#hide_fact_resource_type").val();
}

function loadFactElements() {
  if(dataPage != null) {
    $("#fact_datepicker").val(dataPage["date"]);
    $("#hide_fact_from_deal").val(dataPage["deal_from_id"]);
    $("#fact_from_btn").val(dataPage["deal_from_tag"]);
    $("#hide_fact_to_deal").val(dataPage["deal_to_id"]);
    $("#fact_to_btn").val(dataPage["deal_to_tag"]);
    $("#hide_fact_resource_id").val(dataPage["resource_id"]);
    $("#hide_fact_resource_type").val(dataPage["resource_type"]);
    dataPage = null;
  }
}

</script>

<div id="fact_div">
  <%= form_for(@fact, :remote => true) do |f| %>
    <%= f.hidden_field :day,           :id => "hide_fact_datepicker"%>
    <%= f.hidden_field :from_deal_id,  :id => "hide_fact_from_deal"%>
    <%= f.hidden_field :to_deal_id,    :id => "hide_fact_to_deal"%>
    <%= f.hidden_field :resource_id,   :id => "hide_fact_resource_id"%>
    <%= f.hidden_field :resource_type, :id => "hide_fact_resource_type"%>
    <table>
      <tr>
        <td colspan="3" id="fact_errors">
          <%= f.error_messages %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.date')%>:
        </td>
        <td>
          <input type="text" id="fact_datepicker" size="20"/>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.fromFlow')%>:
        </td>
        <td style="width:5px">
          <input type="button" id="fact_from_btn" value="<%= t('fact.btn_choose')%>"
                 onclick="factChooseDeal('from');"/>
        </td>
        <td>
          <input type="text" id="fact_from_1" value="-" disabled="true"/>
          <input type="text" id="fact_from_2" value="-" disabled="true"/>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.toFlow')%>:
        </td>
        <td style="width:5px">
          <input type="button" id="fact_to_btn" value="<%= t('fact.btn_choose')%>"
                 onclick="factChooseDeal('to');"/>
        </td>
        <td>
          <input type="text" id="fact_to_1" value="-" disabled="true"/>
          <input type="text" id="fact_to_2" value="-" disabled="true"/>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.amount')%>:
        </td>
        <td>
          <%= f.text_field :amount, :size => 20, :id => "fact_amount"%>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= f.submit t('fact.commit'), :id => "save_fact", :onclick => "commitFact();" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.value')%>:
        </td>
        <td>
          <p id="fact_value_text"></p>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('fact.earnings')%>:
        </td>
        <td>
          <p id="fact_earnings_text"></p>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="button" id="fact_reset" value="<%= t('fact.reset')%>" style="visibility: hidden"/>
        </td>
      </tr>

    </table>

  <% end %>
</div>

<table id="fact_p_s_controls" style="display: none">
    <tr align="right">
      <td>
        <input type="button" value="<%= t('buttons.btn_discard')%>" onclick="showFactPage();"/>
        <input type="button" id="fact_submit" value="<%= t('buttons.btn_submit')%>" onclick=""/>
      </td>
    </tr>
    <tr id="fact_page_selection">
    </tr>
</table>
