<script type="text/javascript">
$(function() {
  $( "#fact_datepicker").datepicker();
});
</script>

<div id="fact_main">
  <p>Transfer</p>
  <%= form_for(@fact, :remote => true) do |f| %>
    <%= f.hidden_field :from_deal_id,       :id => "hide_from_deal"%>
    <%= f.hidden_field :to_deal_id,      :id => "hide_to_deal"%>
    <%= f.hidden_field :resource_id, :id => "hide_resource_id"%>
    <%= f.hidden_field :resource_type,   :id => "hide_resource_type"%>
    <p>date <%= f.text_field :day, :id => "fact_datepicker"%></p>
    <p>
      from flow <a href="">click to choose</a>
      <input type="text" id="fact_from_1" value="-" disabled="true"/>
      <input type="text" id="fact_from_2" value="-" disabled="true"/>
    </p>
    <p>
      to flow <a href="">click to choose</a>
      <input type="text" id="fact_to_1" value="-" disabled="true"/>
      <input type="text" id="fact_to_2" value="-" disabled="true"/>
    </p>
    <p>amount <%= f.text_field :amount, :id => "fact_amount"%></p>
    <%= f.submit "save", :id => "save_fact" %>
  <% end %>
</div>
<div id="frame_fact_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick=""/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="titleFrame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>