<% content_for :head do %>
  <title>Abstract::Facts</title>
<% end %>

<script type="text/javascript">
$(function() {
  $('#fact_datepicker').datepicker();
});
function chooseDeals(type)
{
  $('#fact_main').css('display','none');
  $('#frame_fact_div').css('display','block');
  $('#frame').attr('src', 'deals');
  $('#title_frame').html('Deals');

  $('#submit').click(function() {
    var selRow = $('#frame').contents().find('#deals_list')
                                       .getGridParam('selrow');
    if (selRow != null)
    {
      $('#fact_' + type + '_btn').val($('#frame').contents().find('#deals_list')
                                                  .getCell(selRow, 'tag'));
      $('#hide_' + type + '_deal').val($('#frame').contents().find('#deals_list')
                                                  .getCell(selRow, 'id'));
      if(type == 'from')
      {
        $('#hide_resource_id').val($('#frame').contents().find('#deals_list')
                                              .getCell(selRow, 'take.id'));
        $('#hide_resource_type').val($('#frame').contents().find('#deals_list')
                                              .getCell(selRow, 'take.type'));

      }
      $('#fact_main').css('display','block');
      $('#frame_fact_div').css('display','none');
      $('#frame').attr('src', '');
      $("#submit").unbind("click");
    }
  });
}
function commitFact()
{
  var d = new Date($('#fact_datepicker').val());
  $('#hide_fact_datepicker').val(d.toUTCString());
}
function discardChoise()
{
  $('#fact_main').css('display','block');
  $('#frame_fact_div').css('display','none');
}
</script>

<div id="fact_main">
  <p>Transfer</p>
  <%= form_for(@fact, :remote => true) do |f| %>
    <%= f.hidden_field :day,           :id => "hide_fact_datepicker"%>
    <%= f.hidden_field :from_deal_id,  :id => "hide_from_deal"%>
    <%= f.hidden_field :to_deal_id,    :id => "hide_to_deal"%>
    <%= f.hidden_field :resource_id,   :id => "hide_resource_id"%>
    <%= f.hidden_field :resource_type, :id => "hide_resource_type"%>
    <table>
      <tr>
        <td>
          date
        </td>
        <td>
          <input type="text" id="fact_datepicker" size="20"/>
        </td>
      </tr>
      <tr>
        <td>
          from flow
        </td>
        <td>
          <input type="button" id="fact_from_btn" value="click to choose"
                 onclick="chooseDeals('from');"/>
        </td>
        <td>
          <input type="text" id="fact_from_1" value="-" disabled="true"/>
          <input type="text" id="fact_from_2" value="-" disabled="true"/>
        </td>
      </tr>
      <tr>
        <td>
          to flow
        </td>
        <td>
          <input type="button" id="fact_to_btn" value="click to choose"
                 onclick="chooseDeals('to');"/>
        </td>
        <td>
          <input type="text" id="fact_to_1" value="-" disabled="true"/>
          <input type="text" id="fact_to_2" value="-" disabled="true"/>
        </td>
      </tr>
      <tr>
        <td>
          amount
        </td>
        <td>
          <%= f.text_field :amount, :size => 20, :id => "fact_amount"%>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= f.submit "commit", :id => "save_fact", :onclick => "commitFact();" %>
        </td>
      </tr>
      <tr>
        <td>
          value
        </td>
        <td>
          <p id="value_text"></p>
        </td>
      </tr>
      <tr>
        <td>
          earnings
        </td>
        <td>
          <p id="earnings_text"></p>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="button" id="reset" value="reset" style="visibility: hidden"/>
        </td>
      </tr>

    </table>

  <% end %>
</div>
<div id="frame_fact_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick="discardChoise();"/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="title_frame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>