<td>
  <input name="cancel" type="button" value="<%=t 'deal.btn_cancel'%>"
    onclick="onCancelDeal();"/>
  <input name="reset" type="button" value="<%=t 'deal.btn_reset'%>"
    onclick="onResetDeal();"/>
</td>
<td style="width:45px">
  <%= form_for(@deal, :remote => true) do |f| %>
  <%= f.submit t('deal.btn_save'), :id => "save_deal", :disabled => "true",
                       :onclick => "beforeDealSave();" %>
  <%= f.hidden_field :tag,          :id => "hide_deal_tag"%>
  <%= f.hidden_field :rate,         :id => "hide_deal_rate"%>
  <%= f.hidden_field :entity_id,    :id => "hide_deal_entity_id"%>
  <%= f.hidden_field :give_id,      :id => "hide_deal_give_id"%>
  <%= f.hidden_field :give_type,    :id => "hide_deal_give_type"%>
  <%= f.hidden_field :take_id,      :id => "hide_deal_take_id"%>
  <%= f.hidden_field :take_type,    :id => "hide_deal_take_type"%>
  <%= f.hidden_field :isOffBalance, :id => "hide_is_off_balance"%>
  <% end %>
</td>
