<script type="text/javascript">
  $('#roles_list').resetSelection();
  canSelect = false;

  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendDataRole()
  {
    var i = 0;
    var pages = "";
    while($('#page_' + i).val())
    {
      if($('#page_' + i).attr('checked'))
      {
        pages += $('#page_' + i).val();
        pages += ',';
      }
      i++;
    }
    pages = pages.substring(0, pages.length-1);
    $('#hide_pages').val(pages);
    $('#hide_name').val(escape($('#role_name').val()));
  }
  function onCancel()
  {
    $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
  }
  function onReset()
  {
    $('#role_name').val('');
    $('#save_role').attr('disabled','disabled');
    uncheckPages();
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td style="width: 45px">
      <%= form_for(@role, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_role", :disabled => "true",
                           :onclick => "sendDataRole();" %>
      <%= f.hidden_field :name,  :id => "hide_name",  :value => "" %>
      <%= f.hidden_field :pages, :id => "hide_pages", :value => "" %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      name:
      <input id="role_name" type="text" value="" size="80"
             onkeypress="$('#save_role').removeAttr('disabled');" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>Permitted pages</p>
      <% i = 0 %>
      <% while i < @project_pages.count %>
        <p>
          <%= check_box_tag "page_" + i.to_s, @project_pages[i], false %>
          <%= @project_pages[i] %>
        </p>
        <% i += 1 %>
      <% end %>
    </td>
  </tr>
</table>
