<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td style="width: 45px">
      <%= form_for(@role, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_role", :disabled => "true",
                           :onclick => "sendDataRole();" %>
      <%= f.hidden_field :name,  :id => "hide_name",  :value => "" %>
      <%= f.hidden_field :pages, :id => "hide_pages", :value => "" %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      name:
      <input id="role_name" type="text" value="" size="80"
             onkeypress="$('#save_role').removeAttr('disabled');" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>Permitted pages</p>
      <% i = 0 %>
      <% while i < @project_pages.count %>
        <p>
          <%= check_box_tag "page_" + i.to_s, @project_pages[i], false %>
          <%= @project_pages[i] %>
        </p>
        <% i += 1 %>
      <% end %>
    </td>
  </tr>
</table>
