<script type="text/javascript">
  var canSelect = true;
  var name = '';
  var rolePages = '';
  function sendDataRole()
  {
    var pages = new Array();
    var j = 0;
    for(var i=0; i<'<%= @project_pages.count %>'; i++)
    {
      if($('#page_' + i).attr('checked'))
      {
        pages[j] = $('#page_' + i).val();
        j++;
      }
    }
    $('#hide_pages').val(pages);
    $('#hide_name').val(escape($('#role_name').val()));
  }
  function viewIndexForm()
  {
    location.hash = "#roles";
  }
  function onCancel()
  {
    viewIndexForm();
  }
  function onReset()
  {
    $('#role_name').val(name);
    $('#save_role').attr('disabled','disabled');
    if(rolePages != '')
    {
      uncheckPages('enabled');
    }
    else
    {
      uncheckPages();
    }
    for(var i=0; i<rolePages.length; i++)
    {
      $('[name=' + rolePages[i] + ']').attr('checked', 'checked');
    }
  }
  function uncheckPages(enabled)
  {
    for(var i=0; i<'<%= @project_pages.count %>'; i++)
    {
      $('#page_' + i).removeAttr('checked');
      if(enabled)
      {
        $('#page_' + i).removeAttr('disabled');
      } else {
        $('#page_' + i).attr('disabled', 'disabled');
      }
    }
  }
  function viewActionForm(nameValue, pages)
  {
    canSelect = false;
    name = nameValue;
    rolePages = pages;
    uncheckPages('enabled');
    $('#role_name').removeAttr('disabled');
    $('#role_name').val(name);
    $('#data_list').resetSelection();
    for(var i=0; i<rolePages.length; i++)
    {
      $('[name=' + rolePages[i] + ']').attr('checked', 'checked');
    }
    $('#pages').css('display','block');
  }
</script>

<%= raw(roles_jqgrid) %>

<table id="data_list"></table>
<div id="data_pager"></div>

<table>
  <tr id="actions" align="right">
    <%= render 'form_index' %>
  </tr>
  <tr align="left">
    <td colspan="2">
      name:
      <input id="role_name" type="text" value="" size="80" disabled="true"
             onkeypress="$('#save_role').removeAttr('disabled');"/>
    </td>
  </tr>
  <tr id="pages" style="display: none">
    <td colspan="2">
      <p>Permitted pages</p>
      <% for i in 0..@project_pages.count-1 %>
        <p>
          <%= check_box_tag "page_" + i.to_s, @project_pages[i], false,
                :disabled => true, :name => @project_pages[i],
                :onchange => "$('#save_role').removeAttr('disabled');"%>
          <%= @project_pages[i] %>
        </p>
      <% end %>
    </td>
  </tr>
</table>
