<script type="text/javascript">
  var canSelect = true;
  function sendDataRole()
  {
    var pages = new Array();
    var j = 0;
    for(var i=0; i<'<%= @project_pages.count %>'; i++)
    {
      if($('#page_' + i).attr('checked'))
      {
        pages[j] = $('#page_' + i).val();
        j++;
      }
    }
    $('#hide_pages').val(pages);
    $('#hide_name').val(escape($('#role_name').val()));
  }
  function viewIndexForm()
  {
    $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
    $('#data_list').trigger('reloadGrid');
    $('#pages').css('display','none');
    canSelect = true;
    $('#role_name').attr('disabled','disabled');
    $('#role_name').val('');
  }
  function onReset()
  {
    $('#role_name').val('');
    $('#save_role').attr('disabled','disabled');
    uncheckPages();
  }
  function uncheckPages(enabled)
  {
    for(var i=0; i<'<%= @project_pages.count %>'; i++)
    {
      $('#page_' + i).removeAttr('checked');
      if(enabled)
      {
        $('#page_' + i).removeAttr('disabled');
      } else {
        $('#page_' + i).attr('disabled', 'disabled');
      }
    }
  }
</script>

<% content_for :head do %>
  <title>Abstract::Roles</title>
  <%= raw(roles_jqgrid) %>
<% end %>

<% content_for :actions do %>
  <table>
    <tr id="actions" align="right">
      <%= render 'form_index' %>
    </tr>
    <tr align="left">
      <td colspan="2">
        name:
        <input id="role_name" type="text" value="" size="80" disabled="true"
               onkeypress="$('#save_role').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr id="pages" style="display: none">
      <td colspan="2">
        <p>Permitted pages</p>
        <% for i in 0..@project_pages.count-1 %>
          <p>
            <%= check_box_tag "page_" + i.to_s, @project_pages[i], false,
                  :disabled => true, :name => @project_pages[i] %>
            <%= @project_pages[i] %>
          </p>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
